*.txt linguist-documentation
*.css linguist-documentation
*.html linguist-documentation
*.js linguist-documentation
*.lock linguist-documentation
*.md linguist-documentation
*.svg linguist-documentation
*.png linguist-documentation
*.jpeg linguist-documentation
*.jpg linguist-documentation
*.docset linguist-documentation
*.tgz linguist-documentation
*.zip linguist-documentation
*.rb linguist-documentation
*.makefile linguist-documentation
*.shell linguist-documentation
*.sh linguist-documentation
