<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>LoadTests</key>
		<dict>
			<key>testCpuMemoryPerformance_write_100metrics()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.76</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>50</real>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>30396</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>50</real>
				</dict>
			</dict>
			<key>testCpuMemoryPerformance_write_10metrics()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.58569</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>50</real>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>2860</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>50</real>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
